body {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #40514E;
    font-family: 'Merriweather',
        serif;
}

header {
    background-color: #caf0f8;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    width: 1000;
    height: 773.311;
}

h1,
h2,
h3,
header p {
    color: #00b4d8;
    font-family: 'cursive', sans-serif;
    font-size: 2.3rem;
}

header img {
    display: block;
}

hr {
    width: 4%;
    margin-left: auto;
    margin-right: auto;
    border-top-style: dotted;
    border-top-width: 7px;
    border-top-color: #CFD2CF;
}


section {
    margin-top: 50px;
    margin-bottom: 50px;
}


section h3 {
    font-size: 1rem;
    line-height: normal;
}

section .skill {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 40px;
}

section img {
    border-radius: 50%;
    height: 12%;
    width: 12%;
}

footer {
    background-color: #00b4d8;
    padding: 35px;
}

footer a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #03045e;
}

footer p {
    color: aliceblue;
    font-size: 0.8rem;
}

.float-left {
    float: left;
    margin-right: 50px;
    width: 20%
}

.float-right {
    float: right;
    margin-left: 50px;
    width: 20%;
}

.contact {
    margin-bottom: 50px;
}

.intro p,
.contact p {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background: #00b4d8;
    background-image: -webkit-linear-gradient(top, #00b4d8, #0e77b8);
    background-image: -moz-linear-gradient(top, #00b4d8, #0e77b8);
    background-image: -ms-linear-gradient(top, #00b4d8, #0e77b8);
    background-image: -o-linear-gradient(top, #00b4d8, #0e77b8);
    background-image: linear-gradient(to bottom, #00b4d8, #0e77b8);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    border: none;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 3px 3px 5px #28acc7;
    -moz-box-shadow: 3px 3px 5px #28acc7;
    box-shadow: 3px 3px 5px #28acc7;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #0e77b8;
    background-image: -webkit-linear-gradient(top, #0e77b8, #00b4d8);
    background-image: -moz-linear-gradient(top, #0e77b8, #00b4d8);
    background-image: -ms-linear-gradient(top, #0e77b8, #00b4d8);
    background-image: -o-linear-gradient(top, #0e77b8, #00b4d8);
    background-image: linear-gradient(to bottom, #0e77b8, #00b4d8);
    text-decoration: none;
}

#bigheader {
    font-family: 'sacramento', cursive;
    font-size: 5rem;
    font-weight: 500px;
    padding-top: 50px;
}

#cloud-one {
    position: absolute;
    right: 38%;
}

#cloud-two {
    left: 32%;
    margin-top: 30px;
    margin-bottom: 20px;
    position: absolute;
    top: 340px;
}

#mountain {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-bottom: none;
}

#dev {
    text-decoration: underline;
}